<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<style>
		b{
			font-weight: bold;
		}
		.font{
			font-size:70%;
		}
		
		
	a{
    
}

.menu {
	width: 150px;
	height: 55px;
   vertical-align: middle;
   text-align: -10px;
}
text{
	margin-top: 10%;
}

 article{
 	background-color: #cccccc;
 	margin-top: -16%;

 	
 }
 div[class=limites]{
 	margin-left: auto;
    margin-right: auto;
    text-align: left;
 }
 div[class=cartoes]{
 	position: absolute;
  	left: 43%;
  	width: 300px;
  	height: 200px;
  	border: 1px;
 }
 
		</style>
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[udolte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body>
			<article id="main2">

				<header class="special container">
	
					<h2></h2>
					<p></p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container small">
					
						<!-- Content -->
							<div class="content">
								<section>
									<% if current_user.bitcoin != nil %>
									
  										<% end %>
									<b class="font">Para mais detalhes, utilize o menu abaixo. <br> Para comprar Bitcoins ou Litecoins, utilize o menu "loja", no topo da página.<br>Para Negociar Bitcoins e outras altcoins utilize o menu "Exchange".<br>Para criação de carteiras e validação de conta, utilize o menu "editar perfil".</b>
						 	  	   	<div class="cartoes">
						 	  	   		Métodos de pagamento aceitos:<br>
						 	  	   		 <img src="images/debito.png" alt="Cartões aceitos"> 
									</div>
									<header>
										<h3><li class='current'><a href="/exchange" class= "button small menu"><text>Exchange</text></a></h3></li>
										<h3><li class='current'><a href="/setting" class= "button small menu"><text>Editar perfil</a></text></h3></li>
										<h3><li class='current'><a href="/tickets" class= "button small menu"><text>Tickets abertos</a></text></h3></li>
										<h3><li class='current'><a href="/detalhes" class= "button small menu"><text>Transações</text></a></h3></li>
										<% if current_user.bitcoin != nil %>
										<% else %>
										
										<% end %>
									</header>
									<br>
										<img src="images/cartoes.png" alt="Cartões aceitos" ><br>
										Cripto Moedas: <br><img src="images/coinpayments.png" alt="Coinpayments.net">
									<br>
								</section>
							</div>

					</section>

					
			