<head>
	<style>

div[type='normal']{ 
	 	font-weight: normal;
	 	font-size: 80%;

}
body {
    background-image: url("images/banner.jpg");
}
h3{
	font-weight: bold;
	text-align: center;
}
 .justificado {
 	text-align: justify;
 }
  .content{
  	margin-top: -10%;
  }
  section {
  	margin-top: -10%;
  }
  font {
  	font-weight: normal;
  }
 
</style>
</head>

<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<p><h1>Cripto Câmbio</h1>
								Mercado livre.</p>

							</div>
							<div class="justificado">
								<h3>Segurança</h3> 
								<font size='4'><div type='normal'>Compre com toda segurança dos meios de compra, aceitamos pagamentos em BTC, BRL (pagseguro), LTC e trabalhamos para introduzir cada vez mais moedas.</font></div>
								<h3>Praticidade</h3>
								<font size='4'><div type='normal'>Cadastre-se em alguns minutos, escolha a moeda, o valor e obtenha suas moedas instantâneamente!</font></div>
								<h3>Transparência</h3>
								<div type='normal'><font size='4'>Consulte todas as suas transações pendentes, seus status e os respectivos volumes, bem como o link para verificar a transação salva no sistema de blockchain de suas respectivas moedas.</font></div>
								<h3>Mais informações</h3>
								<font size='4'><div type='normal'>Constulte nosso guia de utilização de moedas virtuais, acompanhe gráficos do mercado e cotação e usufrua de toda a praticidade e garantia!</font></div>
							</div>
							
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Câmbio</li>
				</ul>
			
			</footer>

	</body>
</html>
