<head>
	<style>

div{ 
	

}
 .justificado {
 	text-align: justify;
 }
 
</style>
</head>

<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<p><h1>Krobellus market</h1>
								Mercado livre.</p>

							</div>
							<div class="justificado"> 
								Este mercado opera sobre uma camada de criptomoedas.
								Para você acessar a loja, é preciso realizar um cadastro, só é preciso o nome de um usuário e um email para recuperação. <b>Seus dados não serão mostrados novamente, portanto guarde-os com cuidado.</b><br>
								Para utilizar a loja, esteja logado. Nela, você poderá adicionar ao carrinho produtos oficiais, bem como consultar uma lista de vendedores que oferecem produtos, com uma breve descrição deles.<br>
								Há alguns cuidados que você deverá tomar lidando com vendedores terceiros, para isso toda a comunicação é feita por protocolos PGP e Torchat, para finalizar pagamentos. <br>
								Qualquer usuário é elegível a obter uma conta de vendedor, e poderá cadastrar produtos no seu perfil, este será mostrado em uma lista, que os usuários poderão consultar na loja. <br>
								Cada vendedor poderá ter seu perfil analisado por usuários que comprarem, e só poderá retirar o volume após 5 vendas com sucesso.<br>
								Se o usuário quiser comprar produtos de vendedores terceiros diferentes, deverá finalizar uma compra por usuário, nunca misturar produtos de dois usuários diferentes.
							</div>
							
							
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
