<!DOCTYPE HTML>
<header id="header" style="background-color: transparent;border: 0px;z-index:0;"><div id="cotacoes" align="justify" style="width: 300px;background-color: white;float: right;margin-top: 65px;padding-top: 40px;padding-left: 40px;padding-right: 10px;">
				<div id="table_overview"><%= render 'application/table_overview' %></div>
			</div>
			</header>
<style>
	div[id=skel-layers-wrapper]{
		height: 1024px;
	}
</style>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	
	<style>
		section{
			height: 100%;
		}
		
	</style>
	
	
	
		<!-- Banner -->		
			<section id="banner">
				
				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<header>
						<h2>Cripto Câmbio</h2>
					</header>
					<p>Uma Exchange feita por Brasileiros
					<br />
					para Brasileiros
					<br />
					seja <strong>BEM VINDO!</strong></p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="howto" class="button fit scrolly">Como comprar?</a></li>
						</ul>
						<!-- <ul class="buttons vertical">
							<li><a href="apostas/index" class="button fit scrolly">Como apostar?</a></li>
						</ul> -->
						<ul class="buttons vertical">
							<li><a href="exchange/howto" class="button fit scrolly">Como Negociar?</a></li>
						</ul>
					</footer>
					<footer>
						<% if session[:user_id] != nil %>
						<% if session[:user_id] == current_user.id ;%>
						<ul class="buttons vertical">
							<li><a href="logout" class="button fit scrolly">Logout</a></li>
						</ul>
						<% end %>
						<% else %>
						<ul class="buttons vertical">
							<li><a href="login" class="button fit scrolly">Login</a></li>
						</ul>
						<% end %>
					</footer>
				
				</div>
				
			</section>

	<% @hide = true %>