<li> <i class="fa fa-arrow-up" style="color:#333" aria-hidden="true"></i> Compra: <%= @buy %> </li>
<li> <i class="fa fa-arrow-down" style="color:#333" aria-hidden="true"></i> Venda: <%= @sell %> </li>