            <h1 class="headline special-headline"><span>Compra / Venda</span></h1>
            <div style="text-align: center;">
                <table class="list-inline" id="volumen_trade" style="padding-top: 5px; margin-bottom: 0px;">
                	<tr>
                		<td>
                		<li style="padding: 10px 50px;" class="volumen_li">
                        <i class="fa fa-arrow-up" style="color:#333" aria-hidden="true"></i> Alta: <span id="trade_venta">4433.13 USD</span> 
                    </li>
                    </td>
                    <td>
                    	<li style="padding: 10px 50px;" class="volumen_li">
                        <i class="fa fa-arrow-down" style="color:#333" aria-hidden="true"></i> Baixa: <span id="trade_compra">4366 USD</span>
                    </li>
                    	
                    </td>
                    <td>
                    	
                    	 <li style="padding: 10px 50px;" class="volumen_li">
                        <i class="fa fa-exchange" style="color:#333" aria-hidden="true"></i>  Volume: 
                        <span id="trade_volumen1">2.86330278</span><span id="trade_volumen2"> BTC / 13060.54 USD</span>
                    </li>
                    </td>
                	</tr>
                    </table>
                    
            </div>