<table style="width:35%">
  
  <tr style=" white-space: nowrap;">
      <td>Valor creditado após taxas:</td>
  </tr>
  <tr>
      <td>Desconto (1,2%) [BRL]: </td>
      <td><%= text_field_tag "taxac", @desconto, :id => 'tax_card', :disabled => true%></td>
      
  </tr>
  <tr>
      <td>Total [BRL]:</td>
      <td><%= text_field_tag "taxab", @total_brl, :id => 'tax_boleto', :disabled => true%></td>
  </tr>
  
</table>