<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<body class="no-sidebar">
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<h2>And finally there's <strong>No Sidebar</strong></h2>
					<p>Where that in the center faces the nameless horrors alone.</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<header>
										<h3>Dolore Amet Consequat</h3>
									</header>
									<p></p>
									<p></p>
									<p></p>
								</section>
							</div>

					</section>

				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<header>
										<h3>This is Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Also Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<header>
										<h3>Probably Something</h3>
									</header>
									<p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button small">Learn More</a></li>
										</ul>
									</footer>
								</section>
							
							</div>
						</div>
					</section>
					
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
					<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
				</ul>
				
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			
			</footer>

	</body>
</html>