<!DOCTYPE HTML>
<script>
function loading()
{
 $('#button').html('<img src="images/loading.gif" height="84" width="84" />');
}
function save_credit(){
	$.ajax
	url: "routines/1"
 	type: "PUT",
	data: { exercice_ids: getExerciceIds() }
  	success: function() {}
	}
</script>
<style>
	input[id="Credit_reais"]{
	width: 240px;
	padding: 9px;
	}
</style>
<html>
	<body class="no-sidebar">
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					<h2>Saques</h2>
					<p>Utilize o formulário abaixo para sacar saldo da sua conta.</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<header>
										Selecione a moeda:
										<% form_tag 'withdrawal_js', remote: true %>
										<%= select_tag "tipo_pgto", @opcoes.html_safe %> 
										</form>
									</header>
									<p><div id="form"></div></p>
								</section>
							</div>

					</section>
