<body class="contact">
	headers['Access-Control-Allow-Origin'] = 'https://sandbox.pagseguro.uol.com.br'
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<%= label_tag @messages, nil, placeholder: @messages, disabled: true%>
							</div>
							
					</section>
				