<style>
	article{
 	margin-top: -7%;
  background-color: #cccccc;
 }
 j{
 	font-size: 90%;
 }

  
</style>
<body class="contact">
	
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								
								<h1><b>Termos de uso</b></h1>
								<h1>1- Responsabilidade</h1>
								<p><j>	O comprador e utilizador terá total responsabilidade pelos dados dos endereços que ele(a) irá fornecer. A Cripto Cambio Exchange não se responsabiliza por mal uso ou dados incorretos fornecidos pelos usuários e só garantimos a entrega de endereços colocados nos campos onde são sinalizados.</j></p>
								<h1>2- Conhecimento</h1>
    							<p><j>	Ao utilizar os serviços de criptomoeda oferecidos pela Cripto Cambio Exchange, o usuário declara ter conhecimento que cada moeda no blockchain é um recurso único que se é trocado por meio de transações no Blockchain, que por sua vez pode ser servido como consulta como prova definitiva e indisputável da entrega das moedas para o endereço que o usuário fornecera.</j></p>
    							<h1>3- Fair transaction</h1>
    							<p><j> O usuário declara que está em dia com todas as transações anteriores já feitas na Cripto Cambio Exchange. (Em outras palavras, todas as transações anteriores que já foram pagas, já foram recebidas).</j></p>
    							<h1>4- Armazenamento de moedas</h1>
    							<p><j> O usuário entende que a responsabilidade de guardar/receber as moedas é completamente sua. Cripto Cambio Exchange não se responsabiliza por carteiras ou serviços online não sincronizados ou fora do nosso domínio (carteiras que não associadas a nós).</j></p>
								<h1>5- Princípio de legalidade do capital</h1>
								<p><j> O usuário declara que poderá declarar todos os gastos realizados na Cripto Cambio Exchange perante o órgão nacional ligado a isso (no Brasil, a Receita Federal), e assume total responsabilidade pela origem de suas riquezas, bem como aceita que haja moderação em transações identificadas como fraudulentas ou tentativas de golpe.</j></p>
								<h1>6- Recuperação de dados e valores</h1>
								<p><j>	O endereço da sua carteira combinado com seu nome de usuário são os dados necessários para recuperação de valores em qualquer situação possível. Seu endereço poderá ser consultado em "Inicio", assim que solicitado. Nesses casos, entre em contato conosco pela aba "Contato".</j></p>
							</div>
							<j>Ao clicar no botão abaixo, você declara que aceita todos os termos acima.</j>
							<% if current_user.bitcoin == nil %>
							<td type="menu">
								<%= button_to "Criar carteira BTC", create_wallet_path, :data => { :confirm => 'Ao criar uma carteira vinculada você concorda com os termos de uso do site, prosseguir?' } %>
							</td>
							<% end %>
							<% if current_user.litecoin == nil %>
							<td type="menu">
								<%= button_to "Criar carteira LTC", create_wallet_ltc_path, :data => { :confirm => 'Ao criar uma carteira vinculada você concorda com os termos de uso do site, prosseguir?' } %>
							</td>
							<% end %>
					</section>
				<% @hide = true %>