<style>
	article{
 	margin-top: -7%;
  background-color: #cccccc;
 }
 j{
 	font-size: 70%;
 }
  
</style>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								
								Abaixo estão os termos e cláusulas que você concorda ao utilizar nossos serviços variados com ou sem a utilização da carteira vinculada.
							</div>
							
							<td type="menu"><%= button_to "Criar carteira BTC", create_wallet_path, :data => { :confirm => 'Ao criar uma carteira vinculada você concorda com os termos de uso do site, prosseguir?' } %></td>
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
