<style>
	article{
 	margin-top: -7%;
  background-color: #cccccc;
 }
 j{
 	font-size: 70%;
 }
  
</style>
<body class="contact">
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								
								Sua Transferência foi realizada com sucesso. Utilize o menu no topo da página para navegar pelo site.
							</div>
							
							<td type="menu"></td>
					</section>
				
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>
