O valor disposto nos detalhes será em BTC, porém você poderá selecionar<br>
Vários tipos de moedas diferentes para pagar!<br>
Atualmente aceitamos: Bitcoin(BTC), Litecoin(LTC), Dogecoin(DOGE), Ethereum(ETH) e DASH!<br>
Clique no botão abaixo para prosseguir ao portal que irá processar o pagamento:<br>

<form action="https://www.coinpayments.net/index.php" method="post">
	<input type="hidden" name="cmd" value="_pay">
	<input type="hidden" name="reset" value="1">
	<input type="hidden" name="merchant" value="b1e3df05f8a772fc276f4b79aef1c551">
	<input type="hidden" name="currency" value=<%= @moeda %>>
	<input type="hidden" name="amountf" value=<%= @preco_bitcoin.to_s %>>
	<input type="hidden" name="item_name" value=<%= @id %>>		
	<input type="hidden" name="quantity" value="1">
	<input type="hidden" name="allow_quantity" value="0">
	<input type="hidden" name="want_shipping" value="0">
	<input type="hidden" name="success_url" value="https://mkta.herokuapp.com/">
	<input type="hidden" name="cancel_url" value="https://mkta.herokuapp.com/">
	<input type="hidden" name="ipn_url" value="<%= ENV['COINPAY_IPN_URL'] %>">
    <input type="hidden" name="allow_extra" value="0">
	<input type="image" src="https://www.coinpayments.net/images/pub/buynow-med.png" alt="Buy Now with CoinPayments.net">
</form>
