<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://blockchain.info/Resources/wallet/pay-now-button-v2.js"></script>
    
    <script type="text/javascript">
  $(document).ready(function() {
    $('.stage-paid').on('show', function() {
      window.location.href = 'order_status/<%= @invoice_id %>';
    });
  });
  </script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	</head>
	<body class="left-sidebar">
	
	
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-laptop"></span>
					<h2>Falando sobre <strong>O Mj&oumllnir</strong></h2>
					<p>Em todas as perspectivas.</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<div class="row oneandhalf">
							<div class="4u">
								
								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
												<h3>Os sensores</h3>
											</header>
											<p>No Mj&oumllnir foram usados um conjunto de sensores e c&eacutelulas. <br>S&atildeo eles:
											<p>Painel Solar 6V-500mAh;
											<p>GY-80. Que cont&eacutem - Girosc&oacutepio, Magnet&ocircmetro, aceler&ocircmetro e bar&ocircmetro;
											<p>3 C&eacutelulas Lipo - 4.2V 2000mAh;
											<p>Sensor de umidade solo higr&ocircmetro;
											<p>DHT-11. Que cont&eacutem - Umidade do ar, temperatura;
											<p>Ardu&iacuteno Pro Micro;
											<p>GY-68. Que cont&eacutem - Temperatura, Bar&ocircmetro e Altitude.</p>
										</section>


									</div>

							</div>
							<div class="8u skel-cell-important">
								
								<!-- Content -->
									<div class="content">
										<section>
											<%= link_to 'https://block.io/api/v2/get_new_address/?ddcf-3881-8c4e-7590'%>
											<h1>Buy Nuts and Bolts</h1>
        <div class="blockchain-btn" style="width:auto" data-create-url="https://block.io/api/v2/get_new_address/?<%= @apitoken_id %>"> 
            <div class="blockchain stage-begin">
                <img src="http://digiwawa.com/wp-content/uploads/2015/03/bitcoin-button.png">
            </div>
            <div class="blockchain stage-loading" style="text-align:center">
                <img src="https://blockchain.info/Resources/loading-large.gif">
            </div>
            <div class="blockchain stage-ready" style="text-align:center">
                Please send 0.15 BTC to <br /> <b>[[address]]</b> <br /> 
                <div class='qr-code'></div>
            </div>
            <div class="blockchain stage-paid">
                Payment Received <b>[[value]] BTC</b>. Thank You.
            </div>
            <div class="blockchain stage-error">
                <font color="red">[[error]]</font>
            </div>
											<header>
												<h3>Como usamos</h3>
											</header>
											<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum massa. Morbi eu faucibus massa. Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
											<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum. Morbi mattis elementum orci, nec dictum porta cursus justo. Quisque ultricies lorem in ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna. Nullam eget lobortis purus. Phasellus vitae tortor non est placerat tristique. Sed id sem et massa ornare pellentesque. Maecenas pharetra porta accumsan. </p>
										</section>
									</div>
	
							</div>
						</div>					
					</section>
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Krobellus market</li>
				</ul>
			
			</footer>

	</body>
</html>