ok
<div class="blockchain stage-loading" style="text-align:center">
                <img src="https://blockchain.info/Resources/loading-large.gif">
            </div>
            <div class="blockchain stage-ready" style="text-align:center">
                Please send 0.15 BTC to <br /> <b>[[address]]</b> <br /> 
                <div class='qr-code'></div>
            </div>
            <div class="blockchain stage-paid">
                Payment Received <b>[[value]] BTC</b>. Thank You.
            </div>
            <div class="blockchain stage-error">
                <font color="red">[[error]]</font>
            </div>