<link rel="stylesheet" href="como_jogar.css"> <!-- public/apostas/como_jogar.css -->



<div class="body2" width="80%">
<div class="banner"  align="center"  border="4px" cellpadding="0" cellspacing="0" width="965">
      <td valign="top" width="965"><table border="0" cellpadding="0" cellspacing="0" width="965">
      <tbody><tr class="banner">
        <div class="banner">
          <div class="title" style="">Cripto Cambio exchange <br> Casa de apostas</div>
        </div></td>
      </tr>
      <table style="width:100%;background-repeat:repeat-x;" background="images/nav_bg.jpg" cellspacing="10">
								  <tr>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="howtoplay" class="navbar2">Como Jogar</a></td> 
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="btc_loteria" class="navbar2">Loteria BTC</a></td>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="#" class="navbar2">Loteria ETH</a></td>
								  	    <td><img src="images/nav_dvd.jpg" height="46" width="37"></td>
								  	    <td><a href="detalhes" class="navbar2">Como funciona?</a></td>
								  	    </tr>
			</table>
    
    <table style="width:15%;margin-left:15%;" align="left" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="head-1" style="background-repeat:no-repeat;" bgcolor="#14100C" background="images/onl_pokr_lnks.jpg" valign="middle" >Menu de apostas</td>
      </tr>
      <tr>
      <td class="head-1" bgcolor="#14100C" align="left" ><img src="images/bult.jpg" height="11" width="11"><a href="/apostas/btc_loteria" class="navbar3">Loteria Bitcoin</a></td></tr>
      <tr><td class="head-1" bgcolor="#14100C" align="left" ><img src="images/bult.jpg" height="11" width="11"><a href="/apostas/stats" class="navbar3">Estatísticas</a></td></tr>
        </table>
        
        <table border="0" id="black" align="center" cellpadding="0" cellspacing="0" style="width:50%;padding:10px;" >
          <tbody><tr>
            <td height="25" valign="top" width="680">&nbsp;</td>
          </tr>
          <tr>
            <td valign="top" width="680"><table border="0" cellpadding="0" cellspacing="0" width="680">
              <tbody><tr>
                <td class="head-3" valign="middle" width="622">CPT Casa de apostas<hr></td
              </tr>
              
            </tbody></table></td>
          </tr>
          <tr>
            <td class="txt-2" valign="top" width="680" style="padding:10px;">Confira abaixo como as loterias funcionam!<br>
            
              <p style='text-align:left'><br>Para participar, você apenas necessita comprar tickets nas páginas de detalhes de cada loteria.<br>
              <br>Cada ticket tem um valor fixo, e o sorteio arrecadará e distribuirá as premiações apenas para usários com tickets válidos participantes<br>
              <br>Os sorteios ocorrerão mensalmente, e os detalhes específicos das datas podem ser consultados na página de cada loteria.<br>
              <br>para consultar as regras e detalhes adicionais técnicos de como o sorteio funciona, clique no link <a href="detalhes">Detalhes </a>.<BR>
              <br>Não existe nenhum impedimento para trasferir seus bitcoins para fora do site. Você poderá comprar / depositar a gosto e sacar / transferir a gosto.<br></p><hr> </td>
          </tr>
          
          <tr>
            <td valign="top" width="680"><table border="0" cellpadding="0" cellspacing="0" width="680">
              <tbody><tr>
          
                <td class="head-3" valign="middle" width="622">Loterias funcionais:</td>
              </tr>
              <tr>
                <td class="txt-1"> <br> - Bitcoin <br> - Ethereum (em desenvolvimento) </td>
              </tr>
            </tbody></table></td>
          
              <tr>
                <td height="8" valign="top" width="680"><br>
</td>
              </tr>
              <tr>
                <td valign="top" width="680"><img src="images/casino_btm.jpg" height="3" width="680"></td>
              </tr>
            </tbody></table></td>
          </tr>
          
              <tr>
                <td height="8" valign="top" width="680"><br>
</td>
              </tr>
              
            </tbody></table></td>
          </tr>
          
        </tbody></table></td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td valign="top" width="965"><table border="0" cellpadding="0" cellspacing="0" width="965">
      <tbody><tr>
        <td style="background-repeat:repeat-x;" background="images/nav_bg.jpg" height="46" valign="top" width="965"><table align="center" border="0" cellpadding="0" cellspacing="0" width="840">
          <tbody><tr>
            <td align="center" valign="middle" width="72"><a href="https://www.facebook.com/cripcambio/" class="navbar2">Facebook</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="/apostas/stats" class="navbar2">Estatísticas</a></td>
            <td valign="top" width="37"><img src="images/nav_dvd.jpg" height="46" width="37"></td>
            <td align="center" valign="middle" width="72"><a href="/apostas/history" class="navbar2">Histórico das loterias</a></td>
          </tr>
        </tbody></table></td>
      </tr>
      <tr>
        <td class="txt-2" align="center" height="50" valign="middle" width="965"><li>&copy; Cripto Câmbio</li><br>

	</td>
      </tr>
    </tbody></table></td>
  </tr>

</tbody></table>
<img src="images/design.gif" class="copyright" alt="usa online casinos"></a>
</div>