<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

	<body class="no-sidebar">
	
		<!-- Header -->
			
		
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<h2>Praticidade, maleabilidade, automação e rapidez!</h2>
					<p>Acompanhe abaixo o Workflow para receber suas bitcoins!</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<img src="images/workflow.png" alt="" />
									<header>
										<h3>Seu dinheiro seguro!</h3>
									</header>
									<p>Inicialmente, você irá realizar o pedido de bitcoins ou litecoins e escolherá o portal de pagamento. Após ser redirecionado para o portal e ter pago, efetivamente, a conta, o portal irá nos mandar a confirmação.</p>
									<p>Após a confirmação do portal de processamento específico, suas moedas serão transferidas para o endereço especificado no momento do pedido!</p>
									<p>Na área de "inicio" na aba <a href="detalhes">Transações</a>, você poderá acompanhar o histórico de todas as suas compras.</p>
								</section>
							</div>

					</section>

				<!-- Two -->
					
					
			</article>

		<!-- Footer -->
			<footer id="footer">
			
				<ul class="icons">
					
				</ul>
				
				<ul class="copyright">
					<li>&copy; Cripto Cambio Exchange</li>
				</ul>
			
			</footer>

	</body>
</html>