<style>
	article{
 	background-color: #cccccc;
 	margin-top: -10%;
 	padding: 10px;
 	
 }
 td[type=bold]{
 	
 	border: 2px;
 	border-style: solid;
 	font-weight: bold;
 	font-size: 15px;
 	
 }

 table{
 	border: 2px;
 	border-style: solid;
    
 }
</style>
<body class="contact">
		<!-- Main -->
			<article id="main2">

				<header class="special container">
					
				</header>
					
				<!-- One -->
					<section class="wrapper style4 special container small">
					
						<!-- Content -->
							<div class="content">
								<%= link_to "Voltar", :controller => 'sessions', :action =>'home', :id => session[:user_id]%>

								<table style="width:100%">
								<tr >
									<td> Assunto </td>
									<td> Status </td>
									<td> Opções </td>
									</tr>
								<% contador = 0%>
								<p><% @tickets.each do | h |%>
								
								<% if h.user == username %>
								<% contador = contador + 1%>
								<tr>
								<td type='bold'><%= h.title.capitalize %> </td>
								<td type='bold'><%= h.status.capitalize %> </td>
								<td type='bold'><%= link_to "Abrir", :url => '/yesno', :id => h.id, :method => 'post' %></td>
								</p><% end %><% end %></tr></table>
								<% if contador == 0%>
								Você não possui nenhum ticket aberto! Acesse a sessão de contato para abrir.
								<% end %>
								
								
							</div>
							
					</section>
