<% if current_user != nil  %>
				
					<% saldos = eval(current_user.saldo_encrypted) %>
					<li class="submenu">
									<b>Saldos</b>
									<ul>
										<li type="saldo"><img src="images/btc.png" width="20px" height="20px" alt="Bitcoin"> => <%= saldos["BTC"] %> BTC</li>
										<li type="saldo"><img src="images/litecoin.png" width="20px" height="20px" alt="Bitcoin"> => <%= saldos["LTC"] %> LTC</li>
										<li type="saldo"><img src="images/doge.png" width="20px" height="20px" alt="Bitcoin"> => <%= saldos["DOGE"] %> DOGE</li>
										<li type="saldo"><img src="images/brl.jpeg" width="20px" height="20px" alt="Bitcoin"> => <%= (saldos["BRL"].to_f.round(2)).to_s %> BRL</li>
									</ul>
								</li>
							</ul>
							
								
				<% end %>